<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<!--Vue.extend手动挂载1=id上-->
<div id="box"></div>
<!--Vue.extend手动挂载2直接元素上-->
<span></span>
<div id="app">
    <ul>
        <li v-for="(item,$index) in items"
            @click="selectStyle (item) "
            :class="{'active':item.active,'unactive':!item.active}" >
            {{item.select}}
            <span class="icon" v-show="item.active">当我是图标</span>
        </li>
    </ul>
</div>
<div id="app2">
    <p v-for="item in items" :key="item.id">
        {{item.message}}
    </p>
    <button class="btn" @click="btn2Click()">动态赋值</button><br/><br/>
    <button class="btn" @click="btn3Click()">为data新增属性</button>
</div>
<script>
    var author = Vue.extend({
        template: "<p><a :href='url'>{{author}}& {{name}}</a></p>",
        data : function() {
            return {
                author : 'vamous',
                url : 'http://blog.csdn.net/Dear_Mr/article/details/72614370'
            }
        },
//        接收数据
        props : ['name']
    });
//    挂载到元素上
    new author({propsData: {name : '可以利用propsData传递参数'}}).$mount('span');

//    挂载到id上
    var MyComponent = Vue.extend({
        template: '<div>Hello!</div>'
    })
    new MyComponent().$mount('#box');


    new Vue({
        el:"#app",
        data(){
            return {
                active: false,
                items: [
                    {select:'第一行'},
                    {select:'第二行'},
                    {select:'第三行'},
                    {select:'第四行'},
                ]
            }
        },
        methods: {
            selectStyle (item) {
                this.$nextTick(function () {
                    this.items.forEach(function (item) {
                        Vue.set(item,'active',false)
                    });
                    Vue.set(item,'active',true)
                    console.log(item.active);
                });
            }
        }
    })

    var vm2=new Vue({
        el:"#app2",
        data:{
            items:[
                {message:"Test one",id:"1"},
                {message:"Test two",id:"2"},
                {message:"Test three",id:"3"}
            ]
        },
        methods:{
            btn2Click:function(){
                //Vue methods中的this 指向的是Vue的实例，这里可以直接在this中找到items
                Vue.set(this.items,0,{message:"Change Test",id:'10'})
            },
            btn3Click:function(){
                var itemLen=this.items.length;
                Vue.set(this.items,itemLen,{message:"Test add attr",id:itemLen});
            }
        }
    });
</script>
</body>
</html>